<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left" ng-click="admin.goBack()">
    <span class="icon icon-left-nav"></span>
    Back
  </button>
  <h1 class="title">Admin</h1>
</header>


<div class="content">
  
  <ul class="table-view">
    <li class="table-view-cell" ng-repeat="user in admin.users" ng-hide="admin.getCurrentUser()._id === user._id">
    
      <div class="user-info">
          <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="btn btn-negative"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>

<tab-bar></tab-bar>