<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left" ng-click="vm.goBack()">
    <span class="icon icon-left-nav"></span>
    Back
  </button>
  <h1 class="title">Change Password</h1>
</header>

<div class="content">

  <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

      <div class="form-group">
        <input type="password" placeholder="Current Password" name="password" class="form-control" ng-model="vm.user.oldPassword"
               mongoose-error/>
        <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.other }}
        </p>
      </div>

      <div class="form-group">
        <input placeholder="New Password" type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
               ng-minlength="3"
               required/>
        <p class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
          Password must be at least 3 characters.
        </p>
      </div>

      <div class="form-group">
        <input placeholder="Confirm New Password" type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
               match="vm.user.newPassword"
               ng-minlength="3"
               required=""/>
        <p class="help-block"
           ng-show="form.confirmPassword.$error.match && vm.submitted">
          Passwords must match.
        </p>

      </div>

      <p class="help-block"> {{ vm.message }} </p>

      <button class="btn btn-block btn-positive" type="submit">Save changes</button>
    </form>

  <div class="tall-50"></div>
</div>



<tab-bar class=""></tab-bar>