<header class="bar bar-nav">
  <h1 class="title animated fadeInDown">All Win Complex</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content" ng-if="$ctrl.isLoggedIn()">
	<div class="awc-bgw">
		<div class="awc-bg">
			<welcome-canvas></welcome-canvas>
		</div>
		<div class="awc-fg center-flex">
			<h1 class="awc-welcome-banner" ui-sref="inbound">
				Hi! {{ $ctrl.getCurrentUser().name }}
			</h1>
		</div>
	</div>
</div>

<div class="content" ng-if="!$ctrl.isLoggedIn()">
	<div class="awc-bgw">
		<div class="awc-bg">
			<welcome-canvas></welcome-canvas>
		</div>
		<div class="awc-fg center-flex">
			<div class="center-box">
				<h1 class="awc-welcome-banner" ui-sref="login">
					Enter System
				</h1>
			</div>
		</div>
	</div>
</div>


<tab-bar></tab-bar>


