<header class="bar bar-nav">
  <h1 class="title">Login</h1>
</header>



<div class="content">
  
  <form class="form content-padded" name="form" ng-submit="vm.login(form)" novalidate>
    
    <div class="form-group">
      <input type="text" placeholder="Username / Email" name="email" class="form-control" ng-model="vm.user.email" required>
    </div>

    <!-- <div class="form-group">
      <input type="text" placeholder="username" name="username" class="form-control" ng-model="vm.user.username" required>
    </div>
 -->
    <div class="form-group">
      <input type="password" placeholder="Password" name="password" class="form-control" ng-model="vm.user.password" required>
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
         Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
         Please enter a valid email.
      </p>

      <p class="help-block">{{ vm.errors.login }}</p>
    </div>

    <div>
      <button class="btn btn-block btn-positive" type="submit">
        <i class="fa fa-user"></i> Login
      </button>
    </div>
    
    <!-- <oauth-buttons classes="btn btn-block "></oauth-buttons> -->
    
  </form>
  

  <div class="tall-50"></div>
</div>

<tab-bar class=""></tab-bar>

