$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

$ratchet-font-path: '/assets/fonts/ratchet';
@import '~goratchet/sass/ratchet';
@import '~goratchet/sass/theme-ios';


@import url(https://fonts.googleapis.com/css?family=Raleway:100);

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.tall-50{
	height: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0 !important;
  border-radius: 6px !important;
  background-color: rgba(0,0,0,0.1) !important;

  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
  transition: background-color 5000s ease-in-out 0s;

}

.popover-bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  // content: '';

  background-color: rgba(0,0,0,.3);
  transition: opacity 1s;
  opacity: 0;
}

.popover-bg.visible{
  opacity: 1;
}

.popover-wrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;

  transform: translateY(100%);
}
.popover-wrap.visible{
  transform: none;
}
.popover.display-block{
  // border-radius: 0px;
  box-shadow: none;
}



.display-block{
  display: block !important;
}
.smooth-scroll{
  -webkit-overflow-scrolling: touch;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'app.animate';
@import 'culture/culture/culture';
@import 'main/main';
@import 'more/more/more';
@import 'people/people/people';
@import 'status/inBound/inBound';
@import 'status/outBound/outBound';
@import 'welcome/welcome';
@import '../components/footer/footer';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */


@import './app.animate.scss';