<header class="bar bar-nav">
  <h1 class="title">Example</h1>
  <a class="icon icon-compose pull-right" ng-click="$ctrl.enterNewThing = !$ctrl.enterNewThing"></a>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

  <p class="content-padded">
    <navbar></navbar>
  </p>

  <ul class="table-view">
    <li class="table-view-cell" ng-repeat="thing in $ctrl.awesomeThings">
      {{thing.name}} <button class="btn btn-negative" ng-click="$ctrl.deleteThing(thing)">&times;</button>
    </li>
  </ul>

  <div class="tall-50"></div>
</div>

<div class="modal" ng-class="{ 'active': $ctrl.enterNewThing }">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" ng-click="$ctrl.enterNewThing = !$ctrl.enterNewThing"></a>
    <h1 class="title">Compose New Aphorism</h1>
  </header>

  <div class="content">
    <form>
      <textarea ng-focus="$ctrl.enterNewThing" rows="5" placeholder="New Cultural Aphorism...." ng-model="$ctrl.newThing"></textarea>
      <button class="btn btn-positive btn-block" ng-click="$ctrl.addThing(); $ctrl.enterNewThing = !$ctrl.enterNewThing;">Add</button>
    </form>

  </div>
</div>

<tab-bar></tab-bar>



