<header class="bar bar-nav">
  <h1 class="title">Sign Up</h1>
</header>


<div class="content">
  
  <form class="form content-padded" name="form" ng-submit="vm.register(form)" novalidate>

    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                        'has-error': form.name.$invalid && vm.submitted }">
      <input placeholder="Name" type="text" name="name" class="form-control" ng-model="vm.user.name"
             required/>
      <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
        A name is required
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                        'has-error': form.email.$invalid && vm.submitted }">

      <input placeholder="Email" type="email" name="email" class="form-control" ng-model="vm.user.email"
             required
             mongoose-error/>
      <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
        Doesn't look like a valid email.
      </p>
      <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
        What's your email address?
      </p>
      <p class="help-block" ng-show="form.email.$error.mongoose">
        {{ vm.errors.email }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.username.$valid && vm.submitted,
                                        'has-error': form.username.$invalid && vm.submitted }">

      <input placeholder="Username" type="text" name="username" class="form-control" ng-model="vm.user.username"
             required
             mongoose-error/>
      <p class="help-block" ng-show="form.username.$error.username && vm.submitted">
        Doesn't look like a valid username.
      </p>
      <p class="help-block" ng-show="form.username.$error.required && vm.submitted">
        What's your @username?
      </p>
      <p class="help-block" ng-show="form.username.$error.mongoose">
        {{ vm.errors.username }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                        'has-error': form.password.$invalid && vm.submitted }">
      <input placeholder="Password" type="password" name="password" class="form-control" ng-model="vm.user.password"
             ng-minlength="3"
             required
             mongoose-error/>
      <p class="help-block"
         ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
        Password must be at least 3 characters.
      </p>
      <p class="help-block" ng-show="form.password.$error.mongoose">
        {{ vm.errors.password }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                        'has-error': form.confirmPassword.$invalid && vm.submitted }">
      <input placeholder="Confirm Password" type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
             match="vm.user.password"
             ng-minlength="3" required/>
      <p class="help-block"
         ng-show="form.confirmPassword.$error.match && vm.submitted">
        Passwords must match.
      </p>
    </div>

    <div>
      <button class="btn btn-positive btn-block" type="submit">
        Sign up! :D
      </button>
    </div>

  </form>

  <div class="tall-50"></div>
</div>


<tab-bar class=""></tab-bar>
