<header class="bar bar-nav">
  
  <h1 class="title">Choose Receipient</span></h1>
  <a class="icon icon-left-nav pull-left" ng-click="$ctrl.goBack()"></a>
  <!-- <a class="icon icon-check pull-right" ng-click="$ctrl.send()"></a> -->
  
</header>

<div class="content">
	
	<div class="card">
		<ul class="table-view">
		  <li class="table-view-cell media animated fadeInUp">
		    <a class="navigate-right">
		      <img class="media-object pull-left" src="http://placehold.it/42x42">
		      <div class="media-body">
		        The World
		        <p>I care about our home World.</p>
		      </div>
		    </a>
		  </li>
		</ul>
	</div>

</div>

<tab-bar></tab-bar>

<status-filter show-filter-pop="$ctrl.showFilterPop"></status-filter>

