<header class="bar bar-nav">
  <h1 class="title"><span  ng-click="$ctrl.showFilterPop = !!!$ctrl.showFilterPop">OutBound {{ $ctrl.getCurrentFilter().title }} <span class="icon icon-caret"></span> </span></h1>
	
  <a class="icon icon-compose pull-right" ui-sref="choose"></a>
  <a class="icon icon-search pull-left" ui-sref="search"></a>

</header>

<div class="content">
  
	<div class="card">
	  <ul class="table-view">
			
			<li class="table-view-cell media animated fadeInUp" 
					ng-show="($ctrl.outBound | kindnessFilter:$ctrl.getCurrentFilter().key).length == 0"
					ui-sref="choose"
			>
					<a class="navigate-right">

						No Result Yet... Compose a new one now.

					</a>
			</li>

			<li class="table-view-cell media animated fadeInUp delay-{{ itemKey }}" 
	    ng-repeat="(itemKey, item) in $ctrl.outBound | kindnessFilter:$ctrl.getCurrentFilter().key"
	    ui-sref="detail({ sID: item._id })">
	      
	      <a class="navigate-right">
	     		<div class="media-body">
          	{{ $ctrl.getStatusCompose(item.type).title }} To: {{ item.receipient.name }}
		        <p>{{ item.note }} - {{ item.sender.name }}</p>
				</div>
	      </a>
	    
		</li>
	    

	    <ul ng-show="($ctrl.outBound | kindnessFilter:$ctrl.getCurrentFilter().key).length > 50" class="table-view animated fadeInUp delay-{{ ($ctrl.outBound | kindnessFilter:$ctrl.getCurrentFilter().key).length + 1 }}">
		  	
		  	<li class="table-view-cell media">
		  		Next Page....
		  	</li>

		</ul>

	
	  </ul>
      
	</div>
    <div class="tall-50"></div>
	
  <!-- <div ng-if="true" class="content-padded">
  	<pre>{{ $ctrl.outBound | json }}</pre>
  </div> -->
	
</div>


<tab-bar></tab-bar>

<status-filter show-filter-pop="$ctrl.showFilterPop"></status-filter>
