<header class="bar bar-nav">
  <h1 class="title"><span  ng-click="$ctrl.showFilterPop = !!!$ctrl.showFilterPop">OutBound {{ $ctrl.getCurrentFilter().title }} <span class="icon icon-caret"></span> </span></h1>
	
  <a class="icon icon-compose pull-right" ng-click="$ctrl.toggleModal()"></a>

</header>


<div class="content">
	


</div>


<tab-bar></tab-bar>

<status-filter show-filter-pop="$ctrl.showFilterPop"></status-filter>


<div class="modal" ng-class="{ 'active': $ctrl.showModal }">
  
  <div class="welcome-container" ng-show="!$ctrl.showModalRender">
    <div class="welcome-spinner"></div>
  </div>

  <header class="bar bar-nav" ng-show="$ctrl.showModalRender">
    <a class="icon icon-close pull-right" ng-click="$ctrl.toggleModal()"></a>
    <h1 class="title">Select Care Giving</h1>
  </header>

  <div class="content" ng-show="$ctrl.showModalRender">
    
    <div class="card" >
      <ul class="table-view">

        <li class="table-view-cell animated fadeInUp delay-{{ startKey }}" ng-repeat="(startKey, start) in $ctrl.starters"
        ui-sref="compose({ cID: start.key })">
          <a class="navigate-right">
            {{ start.val }}
          </a>
        </li>

      </ul>
    </div>

  </div>

    
  
</div>




